* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  .clean-link {
    text-decoration: none;
    color: white;
  }

  .home,
  .search {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .home {
    background-image: url('/public/images/home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
    text-align: center;
  }

  .home-button {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search {
    background-image: url('/public/images/concert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
  }

  .search-input-container {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
  }

  .song-table {
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin-left: 30%;
  }

  .top-words-and-bigrams,
  .topic-modeling {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    gap: 30px;
  }

  .search-image {
    border: 2px solid black;
    max-width: 600px;
    max-height: 600px;
  }

  .search-text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }